{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}

<div class="row">
    <div class="col offset-s3 s6 ">
        <div class="card ">

            <div class="card-content">
                <div class="card-title">
                    <h3>Edit Idea</h3>
                </div>
                <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <!--Title-->
                    <div class="input-field">
                        <input name="title" type="text" value="{{idea.title}}" required>
                        <label for="title">Title</label>
                    </div>
                    <!-- Details -->
                    <div class="input-field ">
                        <textarea name="details" class="materialize-textarea" required>{{idea.details}}</textarea>
                        <label for="details">Details</label>
                    </div>
                    <!--Submit Button-->
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>