<!--Add Button-->
<div class="fixed-action-btn">
  <a href="/ideas/add" class="btn-floating btn-large red">
    <i class="fa fa-plus"></i>
  </a>
</div>

{{#each idea}}

<div class="row">
  <div class="col s12 ">
    <div class="card">
      <div class="card-content">
        <form method="POST" action="/ideas/{{id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn-floating right waves-effect waves-light red">
            <i class="fa fa-times"></i>
          </button>
        </form>
        <a class="btn-floating right waves-effect waves-light " href="/ideas/edit/{{id}}">
          <i class="fa fa-edit"></i>
        </a>
        <span class="card-title">{{title}}</span>
        <p>{{details}}</p>
      </div>
    </div>
  </div>
</div>
{{else}}
<p>No ideas listed</p>
{{/each}}